<nav class="navbar navbar-expand-lg " id="navbar">
  <div class="container-fluid">
    <%= link_to customers_path do%>
      <img src="https://protekplumbing.sydney/wp-content/uploads/2021/11/protek-plumbing-logo.png" class="navbar-brand" width="100vwh" href="/login">
    <%end%>
  </div>
</nav>