.div-container{
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15vw 28vw;
    min-width: 100px;
    padding: 2.5vw;
    border-radius: 7px;
    color: black;
}

body::before{
    content: '';
    position:fixed;
    height: 100%;
    width: 100%;
    background-image: url(https://img.freepik.com/premium-photo/plumber-using-wrench-repair-water-pipe-sink_101448-3422.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar{
    background-color: rgb(255, 255, 255);
}
